---
layout: default
---

<div class="ap-career-objective">
    My research aims to understand how infants can autonomously develop sensorimotor control and coordination, using a combination of intrinsically-motivated reinforcement learning, unsupervised reprensentations, and hierarchical architectures. I have also developed several open-source research platforms, including <a href="https://github.com/trieschlab/MIMo">MIMo</a>, <a href="https://babybench.github.io">BabyBench</a>, and <a href="https://github.com/fcomlop/dream">DREAM</a>.
    <br><br>
    In my spare time, I enjoy creating Strands games based on papers I read or talks I attend. You can play them <a href="https://fcomlop.github.io/strands/">here</a>.
</div>

<div class="ap-line"></div>
<div class="ap-content">
    
{{content}}

</div>